/** FONTS **/
@font-face {
    font-family: sloop ;
    src:url(../fonts/Sloop\ Script.ttf);
  }

@font-face {
    font-family: lucidity ;
    src:url(../fonts/Lucidity.ttf);
}

@font-face {
    font-family: montserrat ;
    src:url(../fonts/Montserrat.otf);
  }

@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css');

html{
    scroll-behavior: smooth;
    cursor: url(../images/music.png),auto;
}

h1{
    font-family: sloop, serif;
    color:#57639F;
    font-size: 40pt;
    font-weight: 100;
    animation: fadein 0.3s linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 45%;
    animation-delay:0.3s;
}

h2{
    font-family: lucidity, sans-serif;
    font-size: 24pt;
    font-weight: 100;
    color:#57639F;
    animation: fadein 0.3s linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 45%;
    animation-delay:0.3s;
}

h3{
    font-family: lucidity, sans-serif;
    font-size: 10pt;
    font-weight: 100;
    color:#57639F;
    animation: fadein 0.3s linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 45%;
    animation-delay:0.3s;
}

h4{
    font-family: montserrat,sans-serif;
    text-transform: uppercase;
    font-size: 10pt;
    letter-spacing: 3px;
    color:#57639F;
    animation: fadein 0.3s linear both;
    animation-timeline: view();
    animation-range: entry 60% cover 45%;
    animation-delay:0.3s;
}

p{
    font-size: 8pt;
    font-family: montserrat, sans-serif;
    color:#57639F;
    text-transform: uppercase;
    letter-spacing: 3px;
}

body{
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body img{
    animation: fadein 0.3s linear both;
    animation-timeline: view();
    animation-range: entry 60% cover 45%;
    animation-delay:0.3s;
}

a{
    position: relative;
    font-size: 10pt;
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    text-decoration: none;
    color:#f3eeea;
    padding: 0.5rem 1rem;
    animation: fadein 0.3s linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 55%;
    cursor: url(../images/music2.png),auto;
}

a.active{
    border-bottom: solid 1px #f3eeea;
}

a::before{
    content:'';
    position: absolute;
    width:100%;
    height:1.2px;
    background-color: #f3eeea;
    bottom:0; left:0;
    transform-origin:right;
    transform:scaleX(0);
    transition: transform .25s ease-in-out;
}

a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

/**HEADER STYLING**/
.header ul{
    list-style-type: none;
}

.header li{
    padding: 1rem 1rem;
}

/**side bar**/
.sidebar{
    position: fixed;
    top:0;right:0;
    background-color: #57639f91;
    height:100vh;
    width:200px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction:column;
    z-index: 20003;
    display: none;
    box-shadow: -5px 0px 15px rgba(0,0,0,0.1);
}

.sidebar ul{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar li{
    width:100%;
    padding:1rem;
    padding-right: 2rem;
}

.sidebar li:hover{
    background-color: #f3eeea46;
}

.sidebar #menuclose{
    position: relative;
    top:20px;right:30px;
    font-size: 1.5rem;
    color:#f3eeea;
    transform: rotate(45deg);
    transition: 0.4s;
}

.sidebar #menuclose:hover{
    transform: rotate(-0.65deg);
    transform: scale(1.2);
}

/**top bar**/
.topbar{
    z-index: 10;
    background-color: rgba(11, 11, 11, 0);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    width:100%;
    transition: 0.4s ease-in-out;
}

.topbar img{
    max-width: 100px;
    margin-left: 2rem;
}

.topbar .icons{
    margin-right: 2rem;
}

.topbar i{
    font-size: 1.5rem;
    color: #f3eeea;
    padding: 0.7rem 0.5rem 0.2rem 0.5rem;
    transition: 0.3s ease-in-out;
    margin: 0 0.7rem;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0,5);
}

.topbar i:hover{
    background-color: #f3eeea;
    color: #57639F;
}

.topbar ul{
    display: flex;
    flex-direction: row;
}

.topbar.scrolled{
    background-image:url(../images/bg2.png);
    box-shadow: 2px -10px 7px rgba(0, 0, 0, 0.1) inset;
}

#menu{
    font-size: 1.5rem;
    color:#f3eeea;
    position: fixed;    
    top:26px;right:35px;
    transition: 0.4s;
    display: none;
}

#menu:hover{
    transform: rotate(45deg) scale(1.2);
}

.iconlink{
    all:initial;
}

/**FOOTER BAR**/
.footer{
    max-width: 80%;
    border:solid 1px rgba(98, 0, 255, 0);
    margin: 2rem auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
    height:280px;
}

.footer >*{
    border: solid 1px rgba(255, 166, 0, 0);
    width:90%;
}

.footer h3{
    font-size: 16pt;
    color:#57639F;
}

.footer a{
    animation:none;
}

/**footer col1**/
.footercol1 >*{
    animation:none;
}

.footercol1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:86%;
}

.footercol1 #logo2{
    width:160px;
}

.footercol1 img{
    animation: none;
}

/**footer col2**/
.footercol2 >*{
    text-align: center;
    animation:none;
}

.footercol2{
    height:86%;
}

.footercol2 ul{
    list-style-type: none;
    margin:-1rem 0rem 3.8rem 0rem;
    padding:0;
}

.footercol2 li{
    height:20px;
    border:solid 1px rgba(255, 0, 0, 0);
    margin:0;
    padding:0;
;    
}

.footercol2 a{
    margin:0;
    padding:0;
}

.footercol2 img{
    animation:none;
    width:25px;
    padding: 0 1rem;
}

/**footer col3**/
.footercol3 >*{
    animation:none;
}

.footercol3{
    text-align: right;
    height:86%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footercol3 h4{
    font-size: 8pt;
    font-weight: 300;
    color: #57639F;
}

/**MEDIA QUERIES - Iphone XR**/
@media screen and (max-width:415px){
    .header #menu{
        display:block;
        z-index: 20005;
        position: fixed;
        top:20px;right:15px;
    }

    .sidebar{
        animation: slidein ease 0.3s forwards;
        z-index: 20004;
    }

    .sidebar a{
        font-size: 8pt;
    }

    .topbar ul{
        display: none;
    }

    .topbar .icons{
        display: none;
    }

    .iconlink{
        display: none;
    }

    .sidebar #menuclose{
        font-size: 1.5rem;
        color:#f3eeea;
        margin-top:6px;
        margin-right:px;
        margin-left: auto;
        transform: rotate(45deg);
        transition: 0.4s;
        z-index: 20006;
    }
    
    #menuclose:hover{
        transform: rotate(-0.65deg);
        transform: scale(1.2);
    }

    /**media queries for navigation bar**/
    .topbar img{
        max-width: 70px;
        margin-left: 0.5rem;
    }

    #menu{
        font-size: 1.5rem;
        color:#f3eeea;
        position: fixed;    
        top:26px;right:34px;
    }    

    /**FOOTER BAR**/
    .footer{
        max-width: 70%;
        margin: 3rem auto;
        flex-direction:column;
        align-items: center;
        height:auto;
    }

    /**footer col1**/
    .footercol1 >*{
        animation:none;
    }

    .footercol1{
        justify-content: center;
        align-items: center;
        height:auto;
        text-align: center;
    }

    .footercol1 #logo2{
        width:80px;
    }

    /**footer col2**/
    .footercol2{
        height:auto;
    }

    .footercol2 h3{
        display: none;
    }

    .footercol2 ul{
        display: none;
    }

    .footercol2 img{
        width:20px;
    }

    /**footer col3**/
    .footercol3{
        display: none;
    }
}



